body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: #eee;
}

.fade-in {
	animation-name: fade-in;
	animation-duration: 2s;
}

@media screen and (max-width: 900px) {
	.hide-small {
		display: none !important;
	}
}

.inner {
	text-align: center;
}

.container {
    margin-bottom: 2em;
}

.card-text {
    margin-bottom: 3em;
}

.card-text-small {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.project-card-image {
    max-height: 300px;
    object-fit: contain;
    border-radius: 5%;
}

.project-card {
    height: 100%;
}

#credits-table {
    text-align: left !important;
}